@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap");
* {
    box-sizing: border-box;
    }

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 12px;
    --dark: #494947;
    --grey: #d7d7d7;
    --red: #f7401f;
    --blue: #44CCFF;
    --pink: #D138BF;
    --green: #35FF69;
  }
img {
    max-width: 300px;
}
#container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#content {
    width: 70vw;
    backdrop-filter: blur(7px);
    
    padding-left: 4em;

}
/* #words {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

} */

#content div {
    height: 80vh;
    padding: 10px;
    padding-top: 4em;
}
#content div pre, #content div p { 
    margin: 10px;
    font-family: 'Space Mono', monospace;
    color: aliceblue;
}

#table-of-content {
    width: 30vw;
    position: sticky;
    top: 0;
    padding-left: 20px;
}

body {
    background: url(spacering.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Eczar', serif;
    color: var(--red);
    padding: 0px;
    margin: 0px;
}

a:link {
    color: yellow;
    text-decoration: none;}
a:active {
        color: var(--dark);
        font-weight: bold;}
a:hover {
    color: var(--dark);
    font-weight: bold;}

a:visited {
    color: var(--grey) ;
}

