@media only screen and (min-width: 60em) {

    .dynamite li {
        text-align: center;
        padding: 5px;
    }
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        align-content: center;
    }
    .container2 {
        width:80%;
        display: block;
    }
    nav { display: block;
        height: 700px;
        width: 280px;
    }
    .dynamite { display: block;
        padding-top: 7em;
        margin: auto;
    }
}