@media only screen and (min-width: 60em) {
  h6 {
    font-size: 1.7em;
 }  
 .bigbox {
 display: flex;

  }


    .logo {
    top: 70px;
    left: 25px;
    }
 
    .dynamite li:hover {
      background-color: #619DD8;
      border-radius: 10px;
    }

    .dynamite li {
    justify-content: center;
    padding: 10px;
    margin-right: 0; 
    border-radius: 5px;
    }

    .box1 {
    width: auto;
    display: block;
    align-content: center;
    max-width: 300px;
    padding-left: 10px;
    }

    nav { 
    padding: 0;
    display: block;
    /* height: 450px; */
    width: 300px;

    }

    .dynamite { 
        display: block;
        margin-top: 7em;
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
        border: 3px solid #43604E;
        background: #BF5757;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    /* .dynamite li { 
        background: #BF5757;
        
        } */

    nav li a {
    font-size: 2em;
    }

    .eventsm {
        display: none; 
    }

    .eventsl {
    display: flex;
    border: 3px solid #43604E;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-self: center;
    flex-direction: column;
    padding: 10px;
    background-color: #D19959;
    color: #619DD8;
    text-shadow: 0 0 3px #CFD827;
    } 

    .eventsl a {
    text-align: center;
    font-size: 1.5em;
    margin-left: 25px;
    }

    /* .weather {
        position:absolute;
        bottom:0;
        right:0;
        border: 3px solid #43604E;
    } */
.box2 {
  display:flex;
}
    .insidebox2 {
        display: grid;
        grid-template-columns: 61% 38%;
        grid-template-rows: 5em 20rem 19em;
        grid-gap: 10px;
        margin: 10px;
        padding: 10px;
        position: relative;
        z-index: 1;
        border-radius: 15px;
      }

      .insidebox2  .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(/lesson12/images/river.jpg);
        background-size: cover;
        opacity: .6;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 15px;
      }

      .top {
        margin: 20px;
    margin-bottom: 0px;
    padding: 5px;
      }

      .aside2 {
        display: block;
        text-align: center;
      }

      .header2 {
        grid-column: 1 / span 2;
        font-size: 2rem;
      }

      .main2 {
          grid-column: 1 / span 2;
      }
   
      .header2, 
      .main2, 
      .aside2 {
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        padding: 30px;
        margin-right: 20px;
      }
      .weather {
        align-items: flex-start;
        color: black;
        min-width: 9.5em;
        margin-right: 20px;
        }

        .weather p, .eventsm p {
          font-size: 1.1rem;
          margin: 0px;
          padding: 10px;
    }
  }