@media only screen and (min-width: 60em) {
    .container {
    display: flex;
    }

    .logo {
    top: 90px;
    }

    .dynamite li {
    justify-content: center;
    padding: 10px;

    }
    .box1 {
    width: auto;
    display: block;
    align-content: center;
    max-width: 300px;
    /* border-right: 3px solid #43604E; */
    }
    /* .box2 {
    width: 100%;
    margin: 25px;
   
    display: flex;
    flex-direction: column;
    } */
    
    nav { 
    padding: 0;
    display: block;
    /* height: 450px; */
    width: 300px;

    }
    .dynamite { 
        display: block;
        margin-top: 7em;
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
        border: 3px solid #43604E;
        background: #619DD8;
    }

    .dynamite li { 
        background: #619DD8;
        
        }

    nav li a {
    font-size: 2em;
    }

    .events {
    border: 3px solid #43604E;
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding: 10px;
    background-color: #CFD827;
    color: #43604E;
    } 

    .events a {
    text-align: center;
    font-size: 1em;
    
    }

    .events button{
    padding: 10px;
    text-align: center;
    font-size: 1em;
    cursor:pointer;
    box-shadow: 0 0 0 3px #BF5757;
    }

    .events button:hover {
    background-color: #BF5757;
    }

    /* .weather {
        position:absolute;
        bottom:0;
        right:0;
        border: 3px solid #43604E;
    } */

    .box2 {
        display: grid;
        grid-template-columns: 61% 38%;
        grid-template-rows: 5em 20rem 19em;
        grid-gap: 10px;
        margin: 10px;
        padding: 10px;
        border-right: 3px solid #43604E;
      }
      
      header2 {
        grid-column: 1 / span 2;
      }

      main2 {
          grid-column: 1 / span 2;
      }
            
      header2, 
      main2, 
      aside2, 
      weather {
        display: flex;   
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      weather {
        align-items: flex-start;
        background: #CFD827;
        padding: 10px;
        align-items: flex-start
        }
    }