@media only screen and (min-width: 40em) {

h5 {
   font-size: 1.5em;
}

h6 {
   font-size: 1.5em;
}

.box1 {
   width: 100%
}
.innerfoot { 
   font-size: 25px;
}

.dynamite {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   list-style-type: none;
   margin-bottom: 2em;
   margin-top: 1.3em;
   
 }
 
 /* .dynamite {
    display: flex;
    } */

 .dynamite li {
    display: flex;
    flex-direction: row;
    font-size: 30px;
 }

 .dynamite li:first-child {
    display: none;
    }
.eventsl {
    display: none; 
 }   
 .insidebox2 {
   display: grid;
   grid-template-columns: 49% 49%;
   grid-template-rows: 5em 20rem 19em;
   grid-gap: 10px;
   border: 3px solid #43604E;
   padding: 10px;
 }
   
   .weather {
      padding: 10px;
      margin: 1px;
         }  
         .weather p, .eventsm p {
            font-size: 1rem;
            margin: 0;
            padding: 15px;
               }

    /* BOOKING
    _______________________________________________________________________________________________________________ */
  
   .articles img {
      width: 80%;
      }

      .tablet {
         width: 80%;
      }

         td, th {
            font-size: 20px;
            }
         
            .lowerbanner {
               overflow: hidden;
               background-repeat: no-repeat;
               display: flex;
               object-fit: fill;
               width: 97%;
               grid-column: 1 / span 2;
               margin: auto;
               justify-content: center;
             }

}