@media only screen and (min-width: 40em) {
h1 {
   font-size: 1.4em;
   text-shadow: 0 1px 1px #CFD827;
    color: #43604E;
   }

h5 {
   font-size: 1.5em;
}
   .logo {
   top: 70px;
}

.box1 {
   width: 100%
}

.dynamite {
   margin-left: 18em;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   list-style-type: none;
   margin-bottom: 2em;
   margin-top: 1.3em;
 }
 
 /* .dynamite {
    display: flex;
    } */

 .dynamite li {
    display: flex;
    flex-direction: row;
 }
 .dynamite li:first-child {
    display: none;
    }
.eventsl {
    display: none; 
 }   
 .box2 {
   display: grid;
   grid-template-columns: 49% 49%;
   grid-template-rows: 5em 20rem 19em;
   grid-gap: 10px;
   border: 3px solid #43604E;
   padding: 10px;
   
 }}
 /* header2 {
   grid-column: 1 / span 2;
 }

 main2 {
     grid-column: 1 / span 2;
 }

 header2, 
 main2, 
 aside2, 
 weather,
 eventsm {
   display: flex;   
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 weather {
   background: #CFD827;
   padding: 10px;
   border: 3px solid #43604E;
   align-items: flex-start;
   }

   aside2 {
      display: none;
   }

      eventsm {
      border: 3px solid #43604E;
      display: flex;
      font-size: 1em;
      flex-direction: column;
      padding: 10px;
      background-color: #CFD827;
      color: #43604E;
      align-items: flex-start;
      } 
  
      eventsm a {
      text-align: center;
      font-size: 1em;
      
      }
 
      eventsm button{
      padding: 10px;
      text-align: center;
      
      cursor:pointer;
      box-shadow: 0 0 0 3px #BF5757;
      justify-self: center;
      }
  
      eventsm button:hover {
      background-color: #BF5757;
      }
} */