@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Fugaz+One|Gugi|Squada+One&display=swap');

h1 {
    font-size: 1.4em;
    font-family: 'Gugi', cursive;
    text-align: center;
    text-shadow: 0 1px 1px #CFD827;
    color: #43604E;
}

h2 {
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
}

h3 {
font-size: 3em;
font-family: 'Squada One', cursive;
}

h4 {
font-size: 3em;
font-family: 'Fugaz One', cursive;
}

h5 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    }


.logo {
    position: absolute;
    top: 20px;
    left: 10px;


}


main {
margin: 0;
padding: 0;
}
  .swup  a {
        display: inline-block;
        background: #D19959;
        color: white;
        padding: .8em;
        margin-top: 2em;
    }

    .transition-fade {
        transition: .4s;
        opacity: 1;
    }
    html.is-animating .transition-fade {
        opacity: 0;
        transform: translateY(-100px);
        }

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/lesson12/images/river.jpg);
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: bottom;
}
.transition-wipe {
transition: .7s cubic-bezier(0,.1, .5,1.1);
transform: scaleY(0);
}
html.is-animating .transition-wipe {
    transform: scaleY(1);
}

body {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 0;
    background-color: #619DD8;
}
a {
    text-decoration: none;
}
.banner {
    position: relative;
    width: 100%;
}
.banner img {
    box-shadow: 0 0 0 3px #43604E;
}

.box1 {
    width: 80%;
    margin: 0 auto;
    /* background: #619DD8; */
    
}
.box2 {
    background: whitesmoke;
    display: block;
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
}

nav {
    
    padding: .5em;
}
nav li a {
    display: flex;
}
nav  a {
    color:  #CFD827;
    text-shadow: 0 1px 1px #43604E;
}

.dynamite li:hover {
    background-color: #BF5757;
    color: #CFD827;
    height: 100%;
    }     
        
.dynamite {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.dynamite li {
    text-decoration: none;
    display: none;
    
}

.dynamite ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;}
    
.events {
    display: none;
    }   

 
.dynamite li:first-child {
    display: flex;
    Justify-content: flex-end;
    }   

.explode li {
    display: block;
    }


    footer {
        position: sticky;
        height: auto;
        margin: auto;
        padding: .75rem;
        color: #D19959;
        background-color: #;
        text-align: center;
        box-shadow: 0 0 0 3px #BF5757;
    }