@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Fugaz+One|Gugi|Squada+One&display=swap');

h1 {
    font-size: 1.1em;
    font-family: 'Gugi', cursive;
    text-align: center;
    text-shadow: 0 1px 1px #43604E;
    color: #CFD827;
}

h2 {
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
}

h3 {
font-size: 3em;
font-family: 'Squada One', cursive;
}

h4 {
font-size: 3em;
font-family: 'Fugaz One', cursive;
}

h5 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    }

h6 {
    font-size: 1em;
    margin: auto;
    text-align: center;
    }

.active {
    color: #D19959;
    text-shadow: 1px 2px 1px #43604E;
    font-weight: bold;
}

.logo {
    position: absolute;
    top: 53px;
    left: 10px;
    box-shadow: 0 0 0 0 #43604E;
}


main {
margin: 0;
padding: 0;
}

body {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 0;
    /* background-color: #D19959; */
    background-color: #619DD8;
    
}
a {
    text-decoration: none;
    Justify-content: flex-end;
}
.banner {
    position: relative;
    width: 100%;
}

.banner img {
    box-shadow: 0 0 0 3px #43604E;
}

.box1 {
    width: 80%;
    margin: 0 auto;
    /* background: #619DD8; */
    
}
.box2 {
    /* background: whitesmoke; */
    position: relative;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 5em 20rem 19em;
    grid-gap: 10px;
    border: 3px solid #43604E;
    padding: 10px;
    
    z-index: 1;
}

  .box2  .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/lesson12/images/river.jpg);
    background-size: cover;
    opacity: .66;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

nav {
    
    padding: .5em;
}
nav li a {
    display: flex;
}
nav  a {
    color:  #CFD827;
    text-shadow: 0 1px 1px #43604E;
}

.dynamite li:hover {
    background-color: #619DD8;
    color: #CFD827;
    height: 100%;
    }     
        
.dynamite {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.dynamite li {
    text-decoration: none;
    display: none;
    
}

.dynamite ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;}
    
.eventsl {
    display: none;
    }   

 
.dynamite li:first-child {
    display: flex;
    Justify-content: flex-end;
    }   

.explode li {
    display: block;
    }


    footer {
        position: sticky;
        height: auto;
        margin: auto;
        padding: .75rem;
        color: #D19959;
        background-color: #43604E;
        text-align: center;
        box-shadow: 0 0 0 3px #BF5757;
    }
    header2 {
        grid-column: 1 / span 2;
      }
     
      main2 {
          grid-column: 1 / span 2;
      }
     
      header2, 
      main2, 
      aside2, 
      weather,
      eventsm {
        display: flex;   
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
      }

      weather {
        position: relative;
        z-index: 1;
        padding: 10px;
        border: 3px solid #43604E;
        align-items: flex-start;
        }
     
    .weatherbg {
        position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #CFD827;
    opacity: .66;
    }
        aside2 {
           display: none;
        }
     
           eventsm {
           border: 3px solid #43604E;
           display: flex;
           position: relative;
           z-index: 1;
           flex-direction: column;
           padding: 10px;
           
           color: #619DD8;
           text-shadow: 0 0 3px #CFD827;
           align-items: flex-start;
           } 
       
           eventsm a {
           text-align: center;
           font-size: 1em;
           
           }
       
           eventsm button{
           padding: 10px;
           text-align: center;
           font-size: 1em;
           cursor:pointer;
           box-shadow: 0 0 0 3px #BF5757;
           justify-self: center;
           }
       
           eventsm button:hover {
           background-color: #BF5757; }
           
           .eventsbg {
            position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #D19959;
        opacity: .66;
        }