@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Fugaz+One|Gugi|Squada+One&display=swap');

html, body {
    overflow-x: hidden;
  }

.bigbox {
    width:100%;

    }

h1 {
    font-size: 1.3em;
    font-family: 'Gugi', cursive;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: #CFD827;
}

h2 {
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
}

h3 {
font-size: 3em;
font-family: 'Squada One', cursive;
text-align: center;
text-shadow: 1px 1px 1px black;
color: #CFD827;
}

h4 {
font-size: 3em;
font-family: 'Fugaz One', cursive;
}

h5 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    }

h6 {
    font-size: 1em;
    margin: auto;
    text-align: center;
    }

.active {
    color: #D19959;
    text-shadow: 1px 2px 1px black;
    font-weight: bold;
}

.logo {
    position: absolute;
    top: 40px;
    left: 10px;
    box-shadow: 0 0 0 0 #43604E;
}


main {
margin: 0;
padding: 0;
}

body {
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Gugi', cursive;
    margin: 0;
    padding: 0;
    /* background-color: #D19959; */
    background-color: #619DD8;
}
    footer {
        position: sticky;
        height: auto;
        margin: auto;
        padding: .75rem;
        color: #D19959;
        background-color: #43604E;
        text-align: center;
        box-shadow: 0 0 0 3px #BF5757;
    }

a {
    text-decoration: none;
    Justify-content: flex-end;
}

header {
    overflow: hidden;
  }
.banner {
    overflow: hidden;
    background-repeat: no-repeat;
    /* width: 100%;
    min-height: 10em; */
}

.banner img {
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 0 3px #43604E;
    
}

.box1 {
    
    margin: 0 auto;
    /* background: #619DD8; */
    
}
.insidebox2 {
    /* background: whitesmoke; */
    position: relative;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 5em 20rem 19em;
    grid-gap: 10px;
    border: 3px solid #43604E;
    padding: 10px;  
    z-index: 1;
}
.insidebox2 img {
    grid-column: 1 / span 2;
    object-fit: cover; 
    width: 100%;
    max-height: 300px;
}

  .insidebox2  .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/lesson12/images/river.jpg);
    background-size: cover;
    opacity: .66;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
  }

nav {
    
    padding: .5em;
}
nav li a {
    display: flex;
}
nav  a {
    color:  #CFD827;
    text-shadow: 1px 1px 1px black;
}
.boom {
    font-size: 40px;
}

.dynamite li:hover {
    background-color: #BF5757;
    color: #CFD827;
    height: 100%;
    }     
        
.dynamite {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 17em;
}

.dynamite li {
    text-decoration: none;
    display: none;
    padding: 5px;
    margin-right: 5px;
    padding: 10px;
    margin-right: 5px;
    font-size: 25px;
    margin-top: 10px;
}

.dynamite ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;}
    
.eventsl {
    display: none;
    }   

    .eventsm {
        display: none;
    }
.dynamite li:first-child {
    display: flex;
    Justify-content: flex-end;
    
    }   

.explode li {
    display: block;
    }


 .top {
     display: grid;
    position: relative;
    z-index: 1;
    padding: 0;
    text-shadow: 1px 1px 1px black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 3px solid #43604E;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;   
    grid-template-rows: 5em 20rem;
 }
    .topbg {
        position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #BF5757;
    opacity: .66;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

   .header2 {
        grid-column: 1 / span 2;
      }
     
      .main2 {
          grid-column: 1 / span 2;
      }
     
      .header2, 
      .main2, 
      .aside2, 
      .weather,
      .eventsm {
        display: grid;   
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        padding: 25px;
        color: whitesmoke;
      }

      .weather {
        position: relative;
        z-index: 1;
        padding: 0;
        border: 3px solid #43604E;
        align-items: flex-start;
        border-bottom-right-radius: 15px;
        text-shadow: -1px 1px 5px black;
        }
        .weather p, .eventsm p {
            font-size: .9rem;
            margin: 5px;
            padding: 5px;
        }

    .weatherbg {
        position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #CFD827;
    opacity: .66;
    border-bottom-right-radius: 15px;
    }
        .aside2 {
           display: none;
        }
     
           .eventsm {
           border: 3px solid #43604E;
           display: flex;
           position: relative;
           z-index: 1;
           flex-direction: column;
           padding: 10px;
           border-bottom-left-radius: 15px;
           color: #CFD827;
           text-shadow: 1px 1px 5px black;
           align-items: flex-start;
           } 
       
           .eventsm a {
           text-align: center;
           font-size: 1em;
           
           }
       
           .butt{
           padding: 10px;
           text-align: center;
           font-size: 1em;
           cursor:pointer;
           color: #CFD827;
           background-color: #619DD8;
           box-shadow: 0 0 0 3px #BF5757;
           text-shadow: 1px 1px 1px black;
           justify-self: center;
           border-radius: 5px;
           }
       
          .butt:hover {
           background-color: #BF5757; }
           
           .eventsbg {
            position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #D19959;
        opacity: .66;
        border-bottom-left-radius: 15px;
        }


    /* BOOKING
    _______________________________________________________________________________________________________________ */
    .figheadline {
        grid-column: 1 / span 2;
        margin: 20px;
        font-size: 3em;
font-family: 'Squada One', cursive;
text-align: center;
text-shadow: 1px 1px 1px black;
color: #CFD827;
    }
        .articles {
            display: flex;

        }

        .articles img {
            display: block;
            border: 3px solid #43604E;
            width: 95%;
            margin: auto;
        }

        .regarticle {
            padding: 0;
            margin: 0;
        }

        figcaption {
            text-align: right;
            width: 80%;
        }

        .tablet {
                border-collapse: collapse;
                border: 3px solid #43604E;
                width: 95%;
                margin: auto;
                 }

        .modediscription {
            margin: 20px;
            padding: 20px;
            font-size: 15px;
            grid-column: 1 / span 2;
                 }

           thead, tfoot { background-color: #CFD827;

                 }   

            td, th {
            border: 1px solid #43604E;
            padding: 20px 20px;
            text-align: center;
            font-size: 18px;
            }
              
              tr td {
                  background-color: #BF5757;
              }
              
              .button {
                padding: 10px;
                text-align: center;
                font-size: 1em;
                cursor:pointer;
                color: #CFD827;
                background-color: #619DD8;
                box-shadow: 0 0 0 3px #BF5757;
                text-shadow: 1px 1px 1px black;
                justify-self: center;
                border-radius: 5px;
              }
              
              .btn:hover {background-color: #BF5757;
            }
        
            .adventurebox {
                display:block;
            }
            .box3 {
                display: grid;
            }
            .articles {
                display: block;
            }
            picture {
                object-fit: fill;
                width: 97%;
                grid-column: 1 / span 2;
                margin: auto;
              }