@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

@media only screen and (min-width: 1em) {

header {
    float: none;
    text-align: right;
    padding: 2em;
}
* {
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'Lora';
    text-decoration: none;
}
h2 {
    font-weight: bolder;
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 2em;
}
a:active {
    color: #DEB887;
}

header a {
    text-decoration: none;
    color: #FAEBD7;
} 
header a:hover {
    color:white;
    text-decoration: underline;
}

main a {
    text-decoration: none;
    color: black;
} 
.post-date {
   color: #b9b9b9;
}

p a {
    text-decoration: none;
    color: #6495ED;
} 
p a:hover {
    text-decoration: underline;
} 

h2 :hover {
    text-decoration: underline;
    color: #6495ED;
}

body {
    background-color: #798ef2;
    margin: 0;
    padding: 0;

}

main {
    font-family: Helvetica, Arial, sans-serif;
    display: flow-root;
    background-color: #FAEBD7;
}

ul {
    list-style-type: none;
}
li {
    padding: 10px;
}

article {
display: flex; 
flex-direction: column;
padding:3em;
margin: 3em;
background-color: whitesmoke;
box-shadow: 4px 4px 3px lightgrey;
max-width: 31em;
}
img {
    max-width: 30vw;
}
figure {
    text-align: center;
}
@media only screen and (min-width: 43.5em) { 
    header {
        float: left;
        text-align: right;
        padding: 2em;
        max-width: 175px;
    }
}
}