@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

@media only screen and (min-width: 23.5em){
  body {background-color:black;}
  
  main {  font-family: 'Comic Sans MS', 'Roboto', sans-serif;
          display: grid;
          grid-template-columns: 1fr;
          align-items: Center;
          
      }

      header, footer{
        
          max-width: none; 
          height: 7px;
          margin: auto;
          background-color: #ec30bd;
          font-family: 'Comic Sans MS', 'Roboto', sans-serif;
          text-align: center;
          color: yellow;
          margin-top: 10em;
          margin-bottom: 10em;
      }

      #container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          margin: 1.5rem;
          margin-top: 10em;
          text-align: center;
          padding: 1rem;
          grid-gap: 10px 10px;
          font-family: 'Comic Sans MS','Roboto', sans-serif;      
      }

      h1 { 
          font-size: 1.5em;
          font-family: 'Comic Sans MS', 'Roboto', sans-serif;
          margin: 0;
          padding: 5px;
          text-align: center;
          vertical-align: middle;
          text-emphasis-style: bold;
      }

      h2 {
          font-size: 1.2em;
          font-family: 'Comic Sans MS', 'Roboto', sans-serif;
          margin: 0;
          padding: 5px;
          text-align: center;
          vertical-align: middle;
      }
      h3 {
        font-size: 1em;
        font-family: 'Comic Sans MS', 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

      #law { font-family: 'Comic Sans MS', 'Roboto', sans-serif;
          padding: 1rem;
          font-size: 1rem;
          text-align: center;
          background-color:#48e917;
          border-radius: 25px;

       }
       
}
lastMod {
  margin: -5px 0;
  }