/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
    font-family: 'Comic Sans MS', 'Ubuntu', sans-serif;
    line-height: 2em;
}
.Container1{
    margin: 0 auto;
    max-width: 900px;
}
h1, h2, h3{

  font-family: 'Comic Sans MS', 'Ubuntu', sans-serif;
  text-align: center;
  margin: auto;

}
h2{
    padding-top: 10px 5px;
    background-color:#5bf174;

}

    header,
    footer{
       background-color: #7b42c5;
       color: #fff;
       text-align: center;
    }
    header {
      padding: 3px;
    }
    
   footer {
      padding: 10px;
   }

   main{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    max-width: 37.5em;
    margin: 0 auto;
   }

section{
        margin: 1px;
        background-color: #da3535;
        text-align: center;
        
}

lastMod {
  margin: -5px 0;
  color: yellow;
  }