@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
html { height: 100%; }

body {
  font-family: 'Ubuntu', 'Roboto', 'Comic Sans MS', sans-serif;
  min-height:100%; 
  position:relative; 
  padding-bottom:[footer-height];
    }

header, footer {
  margin: auto;
  color: whitesmoke;
  text-align: center;
  padding: 15px;
  background-color: cadetblue ;
  box-shadow: 0 0 0 3px #086164;
  }

footer {
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height:[footer-height];
  z-index: -1;
}

a {
  font-size: 1rem;
}

h1 {  
  padding-left: 2rem;
  font-size: 1.5rem;
  text-align: left;
  }

h2 {  
  font-size: 1.1rem;
  border-bottom: 1px solid #215e2f;
  margin-bottom: 0.5rem;
  }
  
.headerImage {
  box-shadow: 5px 5px 5px #086164;
  border-radius: 10px;
  position: fixed;
  width: 140px;
  z-index: 0;
  }

main {
  min-height: 100%;
  max-width: 90%;
  margin: auto;
  }

ul {
  position: relative;
  z-index: 2;
  width: 50%;
}

li {
  list-style-type: none;
  position: relative;
  z-index: 2;
}

a:hover {
  background-color: cadetblue;
  color: yellow;
  height: 100%;
}

.content {
  padding: .5rem;
  position: relative;
  z-index: -1;
  }
 
.vid {
  padding-top: 0px;
  position: relative;
  z-index: -1;
}

.video {
  position: absolute;
  top: 9.5em;
  width: 320px;
  height: 180px;
  z-index: 3;
}

.button-container {
  margin-top: -2rem;
}

.button-container .button-title {
    font-size: 1.2rem;
}

  @media only screen and (min-width: 60em) {
    main {
        max-width: 900px;
        } 

    .headerImage {
      width: 200px;
      }

    .motto {
       font-size: 1em;
       }
   
   h1 {
       font-size: 2em;
       }
   
   h2 {
       font-size: 2.5em;
       margin: 5px;
       }
       a {
        font-size: 1.5rem;
      }
   
   footer, header {
       font-size: 16px;
       max-width: 900px;
       border-radius: .8em;
       }
 
    nav li a {
       display: flex;
       justify-content: center; 
       padding: 1rem;
       text-decoration: none;
       }  

       .vid {
        padding-top: 3.25%;
        position: relative;
        
      }
      

       .video {
        position: absolute;
        top: -17em;
        bottom: 0;  
        left: 20.5em;
        width: 550px;
        height: 300px;
      }

      .button-container .button-title {
        font-size: 2.2rem;
    }
      
}


   