/*
H1, h2, h3, h4, h5
____________________________________________________________________*/
h1 {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 5px;
    text-align: center;
    }
          
h2 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }

h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
    }

/*
Header
____________________________________________________________________*/
header {  
    position: relative;
    height: auto;
    margin: auto;
    padding: .75rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

.weathersight {
    width: 140px;
    height: auto;
    padding: 5px;
    float: right;
    align-items: center;
    justify-content: center;
   
    }

.motto p{ 
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 3px;
    text-align: center;
    }

#friday { 
    display: none;
    background-color: #086164 ;
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    border-style: dotted;
    margin: 0px;
    }

    /*
Footer
____________________________________________________________________*/
footer {
    height: auto;
    margin: auto;
    padding: .75rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    }

.myname {
    font-style: normal;
    }
/*
Nav
____________________________________________________________________*/
nav {
    margin: 0 auto;
    background-color: #086164 ;
    display: flex;
    justify-content: center; 
}

nav a:hover {
    background-color: cadetblue;
    color: yellow;
    font-weight: 500;
    }

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
    }    

nav li a {
    display: flex;
    justify-content: left;
    color: white;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    }

.hamburger li  {
    display: none;
    }

.hamburger li:first-child {
    display: flex;
    justify-content: left;
    }      

.responsive li {
    display: block;
    }
/*
Main
____________________________________________________________________*/    margin: 0;
body {
    min-width: 300px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    }

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    }    

* {
    box-sizing: border-box;
    }

.galleryscroll {
    margin: 1rem auto;
    display: grid;
    text-align: center;
    }  

.container {
    position: relative;
    }

.container h2 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }  

.heroclass {
    margin: 10px auto;
    position: relative;
    }

.weathersummary {
    position: absolute;
    top: .5rem;
    left: .5rem;
    background: cadetblue;
    opacity: 0.88;
    border: 1px solid whitesmoke;
    padding: .2em;
    color: whitesmoke;
    text-shadow: 1px 2px 2px black;
    font-family: 'Ubuntu', sans-serif;
    }

.weathersummary p {
    padding: 4px;   
    margin: 0px;
    }

.weathersummary h3 {
    padding: 2px;   
    margin: 2px;
    }
/*
Images
____________________________________________________________________*/
.logo {
    width: 120px;
    height: auto;
    padding: 10px;
    padding-left: 10px;
    }

.pics   {
    border-radius: 5px;
    width:100%;
    }

figcaption{ 
    padding-bottom:10px;
    }

figure img[data-src] {
    filter: blur(0.2em);
    }

figure img {
    border: 2px solid black;
    filter: blur(0em);
    transition: filter 0.5s;
    margin: 5px;
    }
       
.picture { 
   width:100%;
   height: auto;
   }

.iconimg {
    width: 100px;
    height: auto;
    }

/*
Links
____________________________________________________________________*/
.active {
    color:yellow;
    font-weight: bold;
    }

a:link {
    color:whitesmoke;
    }

/*
Divs n' the Rest
____________________________________________________________________*/       
figcaption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    }


