/*
H1, h2, h3, h4, h5
____________________________________________________________________*/
h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 5px;
    text-align: center;
    }
          
h2 {
    font-size: 2em;
    padding: 5px;
    text-align: center;
    }

h3, h4, h5 {
    text-align: center;
    }

/*
Header
____________________________________________________________________*/
header {
    display: flex;
    justify-content: center;
    background: cadetblue;
}

.hotmess   {
    display: grid;
    background-color: cadetblue;
}

.weatherstamp {  
    padding: .75rem;
    background-color: cadetblue;
    color: whitesmoke;
    margin: auto;
    }
 
.weathersight {
    width: 140px;
    height: auto;
    padding: 5px;
    float: right;
    align-items: center;
    justify-content: center;
   
    }

.motto p{ 
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 3px;
    text-align: center;
    }

#friday { 
    display: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    border-style: dashed;
    border-color: yellow;
    margin: 8px;
    box-shadow: 0 0 0 5px whitesmoke;
    outline: dashed 5px #086164;
    color: whitesmoke;
    }


    /*
Footer
____________________________________________________________________*/
footer {
    height: auto;
    margin: auto;
    padding: .75rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    }

.myname {
    font-style: normal;
    }
/*
Nav
____________________________________________________________________*/
nav {
    margin: 0 auto;
    background-color: #086164 ;
    display: flex;
    justify-content: center; 
}

nav a:hover {
    background-color: cadetblue;
    color: yellow;
    font-weight: 500;
    }

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
    }    

nav li a {
    display: flex;
    justify-content: left;
    color: whitesmoke;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    }

.hamburger li  {
    display: none;
    }

.hamburger li:first-child {
    display: flex;
    justify-content: left;
    }      

.responsive li {
    display: block;
    }

.cheeseburger li  {
    display: none;
    }

.cheeseburger li:first-child {
    display: flex;
    justify-content: left;
    } 

.response li {
display: block;
}
         
/*
Main
____________________________________________________________________*/
body {
    padding: 0;
    margin: 0;
    min-width: 300px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    }

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    }    

* {
    box-sizing: border-box;
    }

.container {
    position: relative;
    }

.container h2 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }  

/*    
Images
____________________________________________________________________*/
.logo {
    width: 120px;
    height: auto;
    padding: 10px;
    padding-left: 10px;
    }

.iconimg {
    width: 100px;
    height: auto;
    }


/*
Links
____________________________________________________________________*/
.active {
    color:yellow;
    font-weight: bold;
    }

a:link {
    color:whitesmoke;
    }

/*
Divs n' the Rest
____________________________________________________________________*/       

.toontown {
    display: grid;

}

section {
    display: grid;
    
    grid-template-columns: auto 300px;
    grid-template-rows: 80px auto;
    grid-gap: 6px 20px; 
    border: 1px solid black;  
    padding: 1rem;

}

.Fish.Haven img, .Soda.Springs img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 5;
    justify-self: end;
    width: 300px;
}
.Preston {
    align-items: flex-end;
}
.Preston h2 {

    align-self: center;
}
.Preston img {
 
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 5;
    justify-self: self-start;
    width: 300px;
}
ul  {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
    }   