/*
H1, h2, h3, h4, h5
____________________________________________________________________*/
h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    }
          
h2 {
    font-size: 1em;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }

h3, h4, h5 {
    font-size: inherit;
    }

/*
Header
____________________________________________________________________*/
header {
    display: flex;
    justify-content: center;
    background: cadetblue;
    border: whitesmoke;
    border-style: outset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
}

.weatherstamp {  
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: .8em;
    border: whitesmoke;
    border-style: inset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
    }
 
.weathersight {
    width: 140px;
    height: auto;
    padding: 5px;
    float: right;
    align-items: center;
    justify-content: center;   
    }

.motto p { 
    font-size: .8rem;
    font-style: italic;
    padding: 0px;
    margin: 3px;
    text-align: center;
    color:yellow
    }

    /*
Footer
____________________________________________________________________*/
footer {
    height: auto;
    margin: auto;
    padding: .75rem;
    background-color: cadetblue;
    color: whitesmoke;
    text-align: center;
    border: whitesmoke;
    border-style: inset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
}

.myname {
    font-style: normal;
    }
/*
Nav
____________________________________________________________________*/
nav {
    margin: 0 auto;
    background-color: #086164;
    display: flex;
    justify-content: center;
    border: whitesmoke;
    border-style: inset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
}

nav a:hover {
    background-color: cadetblue;
    color: yellow;
    box-shadow: 0px 0px 10px 5px #f5f5f5;
    outline: 3px inset #086164;
    }

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
    }    

nav li a {
    display: flex;
    justify-content: left;
    color: whitesmoke;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    }

.hamburger li  {
    display: none;
    }

.hamburger li:first-child {
    display: flex;
    justify-content: left;
    }      

.responsive li {
    display: block;
    }
/*
Main
____________________________________________________________________*/
html, body {
    margin: 0;
    padding: 0;
  }  

body {
    min-width: 300px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    }

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    }    

* {
    box-sizing: border-box;
    }

/*    
Images
____________________________________________________________________*/
.logo {
    width: 100px;
    height: auto;
    padding: 10px;
}

.iconimg {
    width: 100px;
    height: auto;
    }


/*
Links
____________________________________________________________________*/
.active {
    color:yellow;
    font-weight: bold;
    }

a:link {
    color:whitesmoke;
    }

/*
Divs n' the Rest
____________________________________________________________________*/       
select:focus, textarea:focus, input:focus{
    outline: 0;
    border-radius: 5px;
    border: 5px solid #086164;}


select:hover, textarea:hover, input:hover {
    box-shadow: 10px 12px 0.5rem #086164;
}
form   {
    padding: 1rem;
}

form fieldset {
    background-color: cadetblue;
    margin: 1rem 0;
    border-radius: .8em;
    border: whitesmoke;
    border-style: inset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
    }    

form legend {
    background-color: cadetblue;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: whitesmoke;
    border-style: outset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
}

form label {
    display: grid;
    justify-content: center;
    padding: 4px;
    }

form label input {
    width: 15rem;
    font-size: 15px;
    }

form label input, form label select, form label textarea {
    padding: 6px;
    background-color: #e6f2ff;
    border-radius: 5px;
    border-style: inset;
    border-width: 5px 5px 5px 5px;}


form input.submitbutton {
    padding: 9px;
    margin-bottom: 1rem;
    background-color: cadetblue;
    border-radius: 5px;
    margin-left: 5px;
    color: yellow;
    font-size: 20px;
    border: whitesmoke;
    border-style: outset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
    }


form label input:required {
    border-left: solid 5px #e60000;
    border-right: solid 5px #e60000;
    }

form label input:required:valid { 
    border-left: solid 5px #00e600;
    border-right: solid 5px #00e600 ;
    }

form select {
    Width: 15rem;
    height: 40px;
    border-color: whitesmoke;
    }

form textarea {
    Width: 15rem;
    height: 5rem;
    text-align: start;
    font-size: 15px;
    }
    
.thanks{
    text-align: center;   
    }

.level {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.level label { 
    display: flex;
    padding: 10px;
}

.danger {
    width: 20px;
    }    

.danger:hover {
    box-shadow: 0 0 0 black;
}    

