@media only screen and (min-width: 64em) {
    
     .motto {
        font-size: 1em;
        }
    
    h1 {
        margin-bottom: 5px;
        font-size: 36px;
        }
    
    h2 {
        font-size: 20px;
        }
    
    footer {
        font-size: 16px;
        width: 80%;
        margin: auto;
        height: auto;
        border-radius: 5px;
        }

    .pic {
        width: 220px;
        height: auto;
        padding: 5px;
        float: right;
        align-items: center;
        justify-content: center;
        color: rgb(250, 215, 18);
        } 
    
    .section img {
        width: 97vw;
        height: 33vw;
        max-height: 450px;
        }

    .map {
        display: flex;
        float: left;
        width: 550px;
        height: auto;
        padding-bottom: inherit;
        }
  
     nav li a {
        display: flex;
        justify-content: center; 
        color: white;
        padding: 1rem;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        }  
                
    .dashbox {
        width: 80%;
        }

    #friday { 
        position: relative;
        right: 100px;
        text-align: left;
        font-size: 1.5rem;
        font-family: 'Ubuntu', sans-serif;
        padding: 10px;
        }
    

    
  