@media only screen and (min-width: 32.5em) {
    
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 10px;
        }
    
    .hamburger {
        display: flex;
        }
    .hamburger li {
        display: block;
        flex: 1 1 100%
        }

    .active{
        color:yellow;
        font-weight: bold;
        }
    
    .hamburger li a {
        text-align: center;
        }    

    .hamburger li:first-child {
        display: none;
        }
    
    .motto {
        font-style: normal;
        }
        
    nav li a {
        display: flex;
        justify-content: center; 
        color: white;
        padding: 1rem;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        }  

    /* nav a:hover {
        background-color: cadetblue;
        color: yellow;
        font-weight: 500;
        } */

    /* 
        }     */

    .dashbox {
        width: 75%;
        }

    .pic {
        width: 180px;
        height: auto;
        padding: 5px;
        float: right;
        align-items: center;
        justify-content: center;
        color: rgb(236, 26, 26);
        }
    
    
    .section img {
        width: 93vw;
        height: 49vw;
        }
    
    .map {
        display: flex;
        float: left;
        width: 300px;
        height: auto;
        padding-bottom: inherit;
        }
    
    #friday { 
        text-align: left;
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
        padding: 8px;
        }

    .table {
        flex: 1 1 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        background-color: whitesmoke;
        font-size: 15px;
         text-align: center;
        }

    .lastTable {
        flex: 1 1 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: whitesmoke;
        font-size: 15px;
        text-align: center;
        }
    
    .label {
        display: block;
        padding: 5px;
        font-weight: 700;
        font-size: 15px;
        border-bottom: 2px solid black;
        background-color: cadetblue;
        color: white;
       }
        
    .lastLabel {
        display: block;
        padding: 5px;
        font-weight: 700;
        font-size: 15px;
        border-bottom: 2px solid black;
        background-color: cadetblue;
        color: white;
        }

    .fiveForcast{
        display: block;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Unbuntu', sans-serif;
        margin-bottom: auto;
        }   

    .fiveDay {
        display: flex;
        flex-direction: row;
        padding: 10px; 
        }

    .data {
        display: flex;
        padding: 0 5px;
        font-size: 30px;
        }  
    }