/*
H1, h2, h3, h4, h5
____________________________________________________________________*/
h1 {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 10px;
    }
          
h2 {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }

h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
    }

/*
Header
____________________________________________________________________*/
header {  
    position: relative;
    height: auto;
    margin: auto;
    padding: .75rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

.weathersight {
    width: 140px;
    height: auto;
    padding: 5px;
    float: right;
    align-items: center;
    justify-content: center;
   
    }

.motto p{ 
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 3px;
    }

#friday { 
    background-color: #086164 ;
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    border-style: dotted;
    margin: 0px;
    }

    /*
Footer
____________________________________________________________________*/
footer {
    height: auto;
    margin: auto;
    padding: .75rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    }

.myname {
    font-style: normal;
    }
/*
Nav
____________________________________________________________________*/
nav {
    margin: 0 auto;
    background-color: #086164 ;
    display: flex;
    justify-content: center; 
}

nav a:hover {
    background-color: cadetblue;
    color: yellow;
    font-weight: 500;
    }

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
    }    

nav li a {
    display: flex;
    justify-content: left;
    color: white;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    }

.hamburger li  {
    display: none;
    }

.hamburger li:first-child {
    display: flex;
    justify-content: left;
    }      

.responsive li {
    display: block;
    }
/*
Main
____________________________________________________________________*/

body {
    min-width: 300px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    }

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    }    

* {
    box-sizing: border-box;
    }

.container {
    position: relative;
    }

.container h2 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }  

.heroclass {
    margin: 10px auto;
    position: relative;
    }

.weathersummary {
    position: absolute;
    top: .5rem;
    left: .5rem;
    background: cadetblue;
    opacity: 0.88;
    border: 1px solid whitesmoke;
    padding: .2em;
    color: whitesmoke;
    text-shadow: 1px 2px 2px black;
    font-family: 'Ubuntu', sans-serif;
    }

.weathersummary p {
    padding: 4px;   
    margin: 0px;
    }

.weathersummary h3 {
    padding: 2px;   
    margin: 2px;
    }
/*
Images
____________________________________________________________________*/
.logo {
    width: 120px;
    height: auto;
    padding: 5px;
    }

.heroimage {
    margin: 0 auto;
   }
       
.picture { 
   width:100%;
   height: auto;
   }

.heroclass img {
    width: 100%;
    height: auto;
}

.iconimg {
    width: 100px;
    height: auto;
    }

#loremimg {
    float: left;
    width: 300px;
    height: auto;
    padding-right: inherit;
    padding-bottom: inherit;
    }

.map{
    display: none;
    }

/*
Links
____________________________________________________________________*/
.active {
    color:yellow;
    font-weight: bold;
    }

a:link {
    color:yellow;
    }

/*
Divs n' the Rest
____________________________________________________________________*/       
.fiveDay {
    display: none; 
    }

.fiveForcast{
    display: none;
    }   

.loremipsum {
    background-color: cadetblue;
    padding: 1rem;
    }

.contactInfo{
    background-color:#086164;
    padding: 1rem;
    text-align: center;
    }

.contactData{
    color: white;
    }

