@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");

* {
  box-sizing: border-box;
}

.page-wrapper {
  background: repeating-linear-gradient(
    90deg,
    white,
    white 10px,
    #ffe8e8 10px,
    #ffe8e8 50px
  );

  color: $color-7;
  font-family: $maintext-font;
}

a {
  color: $color-3;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: $color-4;
}

a:hover {
  color: $color-4;
}

ul li {
  list-style-type: none;
}

body {
  font-family: $maintext-font;
}

h1 {
  font-family: $main-headerFont;
  animation-name: spin;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

h2,
h3,
h4 {
  font-family: $sub-headerFont;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  color: $color-6;
}

intro,
main,
supporting,
h2,
h3,
h4,
body {
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  border: 2px dotted;
  padding: 25px;

  &::before {
    content: "";
    background: url("./images/AdditionalFlavors.svg") no-repeat center center;
    height: 100px;
    margin-bottom: 25px;
  }
}
