$color-1: #ffedeb; //misty rose - background stripe
$color-2: #fcf9ed; //floral white- background stripe
$color-3: #ff70b2; //hot pink- accent color
$color-4: #86e9d5; //middle blue green- hover/visited link
$color-5: #a5aab2; //black coral - body copy/main text
$color-6: black; //black
$color-7: #5e6472; // gray

$main-headerFont: "Mouse Memoirs", sans-serif; //h1 font
$sub-headerFont: "Cookie", cursive; // all other header font
$maintext-font: "Smythe", cursive; //body copy
