@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

 main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 10px;
    }

    header, footer{ 
        max-width: none;
        height: 75px;
        margin: auto;
        padding: .75rem;
        font-family: 'Unbuntu', sans-serif;
        background-color: cadetblue;
        color: whitesmoke;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        }

    h1 {
        font-size: 1.5em;
        font-family: 'Unbuntu', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
          
    h2 {
        font-size: 1em;
        font-family: 'Unbuntu', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
    
    .pic {
        width: 140px;
        height: auto;
        padding: 5px;
        float: right;
        align-items: center;
        justify-content: center;
        }
    
    .name {
        font-style: normal;
        }

    .motto {
        font-style: normal;
        font-size: .75rem;
        }

    nav {
        margin: 0 auto;
        background-color: #086164 ;
        }
        
    nav ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }    
    
    nav li a {
        display: flex;
        justify-content: left;
        color: white;
        padding: 1rem;
        font-family: 'Unbuntu', sans-serif;
        text-decoration: none;
        }
   
    .hamburger li  {
        display: none;
        }

    .hamburger li:first-child {
        display: flex;
        justify-content: left;
        }      
    
    nav a:hover {
        background-color: cadetblue;
        color: yellow;
        font-weight: 500;
        }

    .responsive li {
        display: block;
        }
        
    .active {
        color:yellow;
        font-weight: bold;
        }
    
    .preston {
        width: 80%;
        margin: auto;
        padding: 5px;
        justify-content: left;
        background-color: #2ec6cc ;
        font-family: 'Unbuntu', sans-serif;
        }
        
    .dashbox {
        text-indent: 10px;
        width: 70%;
        display: block;
        margin: 10px auto;
        padding: 10px;
        border: 1px dashed black;
        font-style: italic;
        background-color: white;
        color: grey;
        }

    #friday { 
        text-align: left;
        font-size: 1rem;
        font-family: 'Unbuntu', sans-serif;
        border-style: solid;
	    border-width: 5px;
        border-color: white;
        border-radius: 10px;
        padding: 4px;
}