/*
H1, h2, h3, h4, h5
____________________________________________________________________*/
h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 2px 5px #086164;
    }

h2 {
    font-size: 2em;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
}

h3 {
    font-size: 1.3em;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-style: italic;
    color: yellow;
}

h4 {
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

h5 {
    font-size: 1.2em;
    text-align: center;
    color: yellow;
    padding: 15px;
    background: cadetblue;
    border-radius: 0.3em;
    text-shadow: 1px 1px 10px #086164;
    }

h6 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 15px;
}
  
/*
Header
____________________________________________________________________*/
header {
    display: flex;
    justify-content: center;
    background: cadetblue;

}
.pancake {
        display: grid;
        justify-content: center;
        background: cadetblue;
        grid-template-columns: 290px;
    }

.weatherstamp {  
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: .8em;
    border: whitesmoke;
    border-style: outset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
    }

.weatherstamped {  
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: .8em;
    border: whitesmoke;
    border-style: inset;
    border-width: 5px 5px 5px 5px;
    box-shadow: 0 0 0 3px #086164;
    }

.weathersight {
    width: 140px;
    height: auto;
    padding: 5px;
    float: right;
    align-items: center;
    justify-content: center;
}

.motto p { 
    font-size: .8rem;
    font-style: italic;
    padding: 0px;
    margin: 3px;
    text-align: center;
    color:yellow;
    text-decoration: underline solid cadetblue;
    }

#friday {
    display: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    border-style: dashed;
    border-color: yellow;
    margin: 8px;
    box-shadow: 0 0 0 5px whitesmoke;
    outline: dashed 5px #086164;
    color: whitesmoke;
}
    
/*
Footer
____________________________________________________________________*/
footer {
    height: auto;
    margin: auto;
    padding: .75rem;
    background-color: cadetblue;
    color: whitesmoke;
    text-align: center;
    box-shadow: 0 0 0 3px #086164;
    text-shadow: 1px 1px 2px #086164;
}

.myname {
    font-style: normal;
}

.attributions {
    padding: 0;
    margin: 0;

}
.attributions a{
    text-decoration: none;
}

/*
Nav
____________________________________________________________________*/
nav {
    margin: 0 auto;
    background-color: #086164;
    display: flex;
    justify-content: center;
}

nav a:hover {
    background-color: cadetblue;
    color: yellow;
    height: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
}

nav li a {
    display: flex;
    justify-content: left;
    color: whitesmoke;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.hamburger li {
    display: none;
}

.hamburger li:first-child {
    display: flex;
    justify-content: left;
}

.responsive li {
    display: block;
}

.cheeseburger li {
    display: none;
}

.cheeseburger li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.response li {
    display: block;
}

.logo {
    width: 100px;
    height: auto;
    padding: 10px;
}

.iconimg {
    width: 100px;
    height: auto;
}


/*
Links
____________________________________________________________________*/
.active {
    color: yellow;
    font-weight: bold;
}

a:link {
    color: whitesmoke;
}

/*
Divs n' the Rest
____________________________________________________________________*/
.frysauce {
    margin: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 5px;
    color: whitesmoke;
    background-color: cadetblue;
    border-radius: .5em;
    box-shadow: 0 0 0 3px #086164;
    text-align: center;
}

.frysauce p {
    margin: 0;
    padding: 20px;
}

.mustard {
    width: 250px;
    display: block;
    margin: auto;
    border-radius: .5em;
    box-shadow: 0 0 0 3px #086164;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.bacon {
    margin: auto;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
    color: whitesmoke;
    box-shadow: 0 0 0 3px #086164;
    background-color: cadetblue;
    border-radius: .2em;
    border: whitesmoke;
    border-style: outset;
    text-shadow: 1px 1px 10px #086164;
    }

section {
    margin: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    background-color: cadetblue;
    border-radius: .5em;
    box-shadow: 0 0 0 3px #086164;
    max-width: 900px;
}

.Fish.Haven img,
.Soda.Springs img,
.Preston img {
    width: 250px;
    display: block;
    margin: auto;
    border-radius: .5em;
    box-shadow: 0 0 0 3px #086164;  
    margin-bottom: 5px;
}

.pickle { 
    max-width: 950px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: table;
    justify-content: space-around;
    background: cadetblue;
    border-radius: .5em;
    box-shadow: 0 0 0 3px #086164;
    padding: 10px;
    color: whitesmoke;
}

.pickle p:first-child {
    font-style: oblique;
    font-size: larger;
    text-decoration: underline;
    color: yellow;
    
}
aside {
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #086164;
    margin: 5px;
    text-align: center;
}

ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 900px;
}
.milkshake {
    text-align: center;
    padding: 10px;
    margin:auto;
    max-width: 900px;
}
.milkshake ul {
    display: inline-flex;
    justify-content: space-between;
}
.milkshake li {
    padding: 5px;
}

.milkshake li img {
    width: 35px;
}

.milkshake li:hover {
    background: cadetblue;
    border-radius: .5em;
    box-shadow: 0 0 0 3px #086164;
}

/*
Main
____________________________________________________________________*/

.storm{
    max-width: 900px;
    margin: auto;
}

body {
    min-width: 300px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    }

.chunk {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: cadetblue;
    border-radius: 0.5em;
    border: 3px solid #086164;
    max-width: 900px;
    }    

* {
    box-sizing: border-box;
    }

.container {
    position: relative;
    }

.container h2 {
    font-size: 2em;
    text-shadow: 1px 2px 2px black;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    }  

.heroclass {
    position: relative;
    }

picture {
    padding: 0;
    margin: 0;border-radius: 0.5em;
}

.weathersummary {
    margin: auto;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: cadetblue;
    opacity: 0.88;
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    box-shadow: 0 0 0 3px #086164;
    padding: .2em;
    color: whitesmoke;
    text-shadow: 1px 2px 2px black;
    text-transform: capitalize;
    text-align: left;
    }

.weathersummary p {
    padding: 4px;   
    margin: 0px;
    font-size: 15px;
    }

.weathersummary h7 {
    padding: 2px;   
    margin: 2px;
    text-align: left;
    }
/*
Images
____________________________________________________________________*/

.heroimage {
    margin: 0 auto;
   }
       
.banner { 
   width:100%;
   height: auto;
   }

.heroclass img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 3px solid #086164;
}

.iconimg {
    width: 100px;
    height: auto;
    }

.loremipsum img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    display: block;
    margin: auto;
    border: 3px solid #086164;
    }

.loremipsum p {
    padding: 7px;   
    margin: 10px;
    }
    
.map{
    display: none;
    }

/*
Divs n' the Rest
____________________________________________________________________*/       
.fiveDay {
    display: none; 
    }

.fiveForcast{
    display: none;
    }   

.loremipsum {
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 0.5em;
    box-shadow: 0 0 0 3px #086164;
    }

.google-maps {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contactInfo{
    background-color:#086164;
    padding: 5px;
    margin: auto;
    border-radius: 0.5em;
    max-width: 500px;
    width: 100%;
    }

.contactData{
    color: whitesmoke;
    padding-right: 10px;
    }
/* 
Storm Center ---------------------------------------------------------------------------------------------------------------- 
*/

    select:focus, textarea:focus, input:focus{
        outline: 0;
        border-radius: 5px;
        border: 5px solid #086164;
    }
    
    form   {
        padding: 1rem;
    }
    
    form fieldset {
        background-color: cadetblue;
        margin: 1rem 0;
        border-radius: .5em;
        border: whitesmoke;
        box-shadow: 0 0 0 3px #086164;
        }    
    
    form legend {
        background-color: cadetblue;
        color: black;
        padding: 5px;
        border-radius: 5px;
        border: whitesmoke;
        border-style: outset;
        border-width: 5px 5px 5px 5px;
        box-shadow: 0 0 0 3px #086164;
    }
    
    form label {
        display: grid;
        justify-content: center;
        padding: 4px;
        }
    
    form label input {
        width: 15rem;
        font-size: 15px;
        }
    
    form label input, form label select, form label textarea {
        padding: 6px;
        background-color: #e6f2ff;
        border-radius: 5px;
        border-style: inset;
        border-width: 5px 5px 5px 5px;}
    
    
    form input.submitbutton {
        padding: 9px;
        margin-bottom: 1rem;
        background-color: cadetblue;
        border-radius: 5px;
        margin-left: 5px;
        color: yellow;
        font-size: 20px;
        border: whitesmoke;
        border-style: outset;
        border-width: 5px 5px 5px 5px;
        box-shadow: 0 0 0 3px #086164;
        }
    
    
    form label input:required {
        border-left: solid 5px #e60000;
        border-right: solid 5px #e60000;
        }
    
    form label input:required:valid { 
        border-left: solid 5px #00e600;
        border-right: solid 5px #00e600 ;
        }
    
    form select {
        Width: 15rem;
        height: 40px;
        border-color: whitesmoke;
        }
    
    form textarea {
        Width: 15rem;
        height: 5rem;
        text-align: start;
        font-size: 15px;
        }
        
    .thanks{
        text-align: center;   
        }
    
    .level {
        padding: 15px;
        display: flex;
        justify-content: center;
    }
    
    .level label { 
        display: flex;
        padding: 10px;
    }
    
    .danger {
        width: 20px;
        }    
    
    .danger:hover {
        box-shadow: 0 0 0 black;
    }    

/* 
Gallery ----------------------------------------------------------------------------------------------------------------------- 
*/
    .headline {
        background: cadetblue;
        border-radius: 5px;
        text-align: center;
        color: whitesmoke;
        max-width: 450px;
        align-content: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 0 3px #086164;
    }

    .headline p {
        color:yellow;
    }
    
    .galleryscroll {
        margin: 1rem auto;
        display: grid;
        text-align: center;
        border-radius: 5px;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }

    .galleryscroll img {
        border-radius: .5em;
        border: 3px solid #086164;
    }