@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
 @media only screen and (min-width: 20em){
header {
  text-align: left;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: 'Roboto','Comic Sans MS', sans-serif;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #878787;
  border-radius: 5px;
  font-family: 'Roboto','Comic Sans MS', sans-serif;
  color: white;
}
#weatherIcon {
    margin: .25em;
   width: 300px;
     height: auto;
   }

#hra {
    background-color: black;
    height: 2px;
    border: 0;
    padding: 0px;
    margin: 3px;
}

#hrb {
    background-color: white;
    height: 2px;
    border: 0;
    padding: 0px;
    margin: 0px;
}
   
h1 {  
  font-size: 2.5rem;
  margin: .2rem;
margin-left: 1.9rem;
}
h2 {  
  font-size: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 0.5rem;
}
h2 {  
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  margin-bottom: 0.5rem;
}
 
main {
  max-width: 90%;
  margin: auto;
  padding: 1em;
  color: white;
  font-family: 'Roboto','Comic Sans MS', sans-serif;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  overflow: hidden;}

nav li a {
	display: flex;
	text-align: center;
	padding: 0.75rem;
	font-size: 0.95rem;
  
.content {
  padding: 2rem;
  } }

ul li a:link {
    color: yellow;
    text-decoration: none;
}

ul li a:visited {
    color: #878787;
}

ul li a:hover {
    color: darkgoldenrod;
}

ul li a:active {
    color: khaki;
}

a:link {
    color: #fffb00;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color: darkgoldenrod;
} } 

lastMod {
    margin: -5px 0;
    }