@media only screen and (min-width: 60em) {
 h1 {
   margin-top: 7px;
 }
 
  h6 {
    font-size: 1.7em;
 }  
 .bigbox {
 display: flex;

  }


    .logo {
    top: 60px;
    left: 25px;
    }
 


    .box1 {
    display: block;
    margin: 0;
    align-content: center;
    max-width: 300px;
    padding-left: 10px;
    }

    nav { 
    padding: 0;
    display: block;
    /* height: 450px; */
    width: 300px;

    }

    .dynamite { 
        display: block;
        margin-top: 4.5em;
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
        border: 3px solid #43604E;
        background: #BF5757;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        min-height: 325px;
    }

    .dynamite li:hover {
      background-color: #619DD8;
      border-radius: 10px;
    }

    .dynamite li {
    justify-content: center;
    padding: 8px;
    margin-right: 0;
    margin: 0px;
    border-radius: 5px;
    font-size: 30px;
    }
    /* .dynamite li { 
        background: #BF5757;
        
        } */

    nav li a {
    font-size: 1.4em;
    }

    .eventsm {
        display: none; 
    }

    .eventsl {
    display: block;
    border: 3px solid #BF5757;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.1rem;
    padding: 10px;
    background-color: #43604E;
    color: #D19959;
    text-shadow: 0 0 3px black;
    min-height: 325px;
    } 

    .eventsl a {
    text-align: center;
    font-size: 1.5em;
    margin-left: 25px;
    }

.box2 {
  width: 100%}

    .insidebox2 {
      border-radius: 15px;
        grid-template-columns: 61% 38%;
        margin: 10px;
      }

      .insidebox2  .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(/lesson13/images/river.jpg);
        background-size: cover;
        opacity: .6;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 15px;
      }

      .top {
        width: 99%;
        margin: auto;
        max-width: 1800px;
      }

      .aside2 {
        position: relative;
        z-index: 1;
        display: block;
        text-align: center;
        max-width: 1060px;
        border: 3px solid #43604E;
        border-bottom-left-radius: 15px;
        text-shadow: 1px 1px 1px black;
      }

      .aside2bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #619DD8;
        opacity: .66;
        border-bottom-left-radius: 15px;
    }
      .header2 {
        grid-column: 1 / span 2;
        font-size: 2rem;
      }

      .main2 {
          grid-column: 1 / span 2;
      }
   
      .header2, 
      .main2, 
      .aside2 {
        display: flex;  
      }

      .weather {
        align-items: flex-start;
        color: black;
        min-width: 153px;
        max-width: 635px;
        }

        .weather p, .eventsm p {
          font-size: 1.1rem;
          margin: 0px;
          padding: 10px;
    }
  
    /* BOOKING
    _______________________________________________________________________________________________________________ */
  
  .booking {
    display: flex;
  }

  span, select {
    min-width: 500px;
 }

      /* ADVENTURES
    _______________________________________________________________________________________________________________ */
  .regis {
    padding: 10px;
    margin: 10px;    
  }

  .articles {
   display: grid;
   grid-template-columns: 70% 30%;
   grid-template-rows: 15% 60% 20%;
   align-items: center;
  }
  .articles img {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    }

  figcaption {
    margin-bottom: auto;
  }

    .tablet {
      width: 90%;
  }

  td, th {
    font-size: 25px;
    }
    .modediscription {
      font-size: 25px;
  }

  .adventurebox {
  display: flex;

  }
.lowerbanner {
  display: flex;
}
/* CONTACT 
_______________________________________________________________________________________________________________ */

.contact {
display: flex;
}
/* .conbox2 {
 width: 80%;
} */

/* GUIDES
_______________________________________________________________________________________________________________ */

.guides {
  display: flex;
  }
  .thanks {
    display: flex;
  }
}

@media only screen and (min-width: 85em) {
  .articles img {
    max-width: 800px;}
    .articles {
    width: 80%;
    margin: auto;
    }
}

